<div class="page-main-header bg-gray" [ngClass]="{'open' : navServices.collapseSidebar}" id="page-main-header">
  <div class="main-header-right row">
    <div class="main-header-left">
      <div class="logo-wrapper"><a href="javascript::void(0)"><img style="height: 60px;"
            src="assets/images/logo/mobo-logotipo.png" alt=""></a>
      </div>
    </div>
    <div class="nav-right col">
      <ul class="nav-menus" [ngClass]="{'open' : openNav}">
        <li></li>
        <li *ngFor="let menuItem of menuItems" [ngClass]="{active: menuItem.active}" class="border-0">
          <a [routerLink]="!menuItem.type ? null : [menuItem.path]" routerLinkActive="active" class="navbar-link"
            *ngIf="menuItem.type === 'link'">
            <!-- <img [src]="getMenuIcon(menuItem)" [alt]="menuItem.icon"> -->
            <i class="fa {{menuItem.icon}}" style="margin-right: 10px;"></i>
            <span class="d-none d-md-block">{{menuItem.title}}</span>
          </a>

          <a href="javascript:void(0)" class="primary-text" *ngIf="menuItem.type === 'out'" (click)="logout()">
            <span>{{menuItem.title}}</span>
          </a>
        </li>
      </ul>
      <div class="d-lg-none mobile-toggle pull-right" (click)="openMobileNav()">
        <app-feather-icons [icon]="'more-horizontal'"></app-feather-icons>
      </div>
    </div>
  </div>
</div>
