@import "../../../../assets/scss/theme/variables";

.margin-top-negativa {
  margin-top: -20px;
}
.nav-menus {
  .navbar-link {
    display: flex;
    align-items: center;
    color: $primary-color;
    filter: grayscale(1) opacity(0.3);
    transition: all 0.3s ease;
    &:hover {
      filter: grayscale(0) opacity(0.6);
    }
    &.active {
      filter: grayscale(0) opacity(1);
    }
  }
  img {
    margin-right: 10px;
  }
  span {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }

  .primary-text,
  .primary-text * {
    color: $primary-color;
    font-weight: 600;
  }

  li:last-child {
    padding: 0 45px 0 50px !important;
  }
}
