<div class="card mt-4">
    <div class="card-body">
        <div class="text-center">
            <h4>Recuperar senha</h4>
            <h6>Insira seu email para receber uma nova senha</h6>
        </div>
        <form class="theme-form" [formGroup]="recoverPasswordForm">
            <div class="form-group">
                <label class="col-form-label pt-0">Email</label>
                <input class="form-control" formControlName="recoveryEmail" type="email" required="">

                <div class="input-error-wrapper">
                    <div *ngIf="recoverPasswordForm.controls.recoveryEmail.touched && recoverPasswordForm.controls.recoveryEmail.errors?.required"
                        class="text text-danger mt-1">
                        Email é um campo obrigatório
                    </div>
                    <div *ngIf="recoverPasswordForm.controls.recoveryEmail.touched && recoverPasswordForm.controls.recoveryEmail.errors?.recoveryEmail"
                        class="text text-danger mt-1">
                        Email inválido
                    </div>
                </div>
            </div>
            <div class="form-group form-row mt-3 mb-0 mx-0">
                <button class="btn btn-primary btn-block btn-lg" [disabled]="!recoverPasswordForm.valid || authService.showLoader"
                    (click)="recoverPassword()">
                    <span *ngIf="!authService.showLoader">Recuperar Senha</span>
                    <app-loader *ngIf="authService.showLoader" color="white" size="30px"></app-loader>
                </button>
            </div>
        </form>
		<div class="text-center">
			<a class="gray-link" href="javascript:void()" routerLink="/auth/login">Ir a tela de login</a>
		</div>
    </div>
</div>