.row {
    position: relative;
  }
  .border-light {
    border: 2px solid #f3f0e9 !important;
  }
  .border{
    border:2px solid #f7e1c5 !important
  }
  
  .master-button {
    padding: 0.25rem 0.7rem !important;
    font-size: 0.9rem !important;
  }
  .detail-name {
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
  }
  
  .detail-text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
  }
  .dark-text {
    color: #333333;
  }
  .gray-text {
    color: #8c8c8c;
    * {
      color: #8c8c8c;
    }
    h4 {
      color: #4f4f4f;
      font-size: 17px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
    }
    .subtitle-text {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }
  }
  
  .detail-btn {
    font-size: 20px !important;
    font-weight: 700 !important;
  }
  
  .rounded-border {
    border-radius: 12px !important;
  }
  
  .btn-outline-gray {
    border-color: #cccccc !important;
  }
  
  .fixed-max-height {
    min-height: 100%;
    max-height: 100%;
    .card-body {
      overflow-y: auto;
  
      &::-webkit-scrollbar {
        height: 6px;
        width: 6px;
      }
      &::-webkit-scrollbar-track {
        border-radius: 0;
        background: #f7f7f7;
      }
  
      &::-webkit-scrollbar-thumb {
        border-radius: 30px;
        background: #ccc;
      }
    }
  }
  
  .w-40 {
    width: 40%;
  }
  
  .subtitle-professionals-table {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    color: #cccccc;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    border-bottom-width: 4px;
    transition: all 0.3s ease-in-out;
    margin-right: 30px;
    cursor: pointer;
    white-space: nowrap;
    &.active {
      color: #4d6af6;
      border-bottom-color: #4d6af6;
    }
    &:last-of-type {
      padding-right: 30px;
    }
  }
  .title-professionals-table {
    font-size: 28px !important;
    font-weight: 800;
    line-height: 33px;
    text-align: left;
    color: #4f4f4f;
  }
  
  .title-head {
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    color: #8c8c8c;
    &:last-child {
      text-align: right;
      padding-right: 2rem;
    }
  }
  
  .selected-item {
    background-color: blueviolet !important;
  }
  
  .table-header:last-child {
    div {
      justify-content: flex-end;
    }
  }
  .border-tabs {
    border-bottom: 0.3px solid #ccc;
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
    overflow-x: auto;
  
    &::-webkit-scrollbar {
      height: 4px;
      width: 4px;
      border: 1px solid #d5d5d5;
    }
    &::-webkit-scrollbar-track {
      border-radius: 0;
      background: #eeeeee;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 0;
      background: #ccc;
    }
  }
  .table {
    th,
    td {
      background-color: white;
      vertical-align: middle;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  .search-icon {
    background-color: white;
    border-left: none;
  }
  
  .card-title {
    font-weight: 800;
    font-size: 28px;
    line-height: 33px;
    color: #4f4f4f;
  }
  .area-list {
    overflow: auto;
    .area-item {
      background: #f7f7f7;
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
  .special-col {
    position: absolute;
    max-height: 100% !important;
    height: 100% !important;
    padding-bottom: 30px;
  }
  