.card-title {
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  color: #4f4f4f;
}

.dataset-selector {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  filter: grayscale(100%) opacity(0.6);
  &:hover {
    filter: grayscale(10%) opacity(0.8);
  }
  &.active {
    filter: grayscale(0%) opacity(1);
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 768px) {
  .inside-scroll-wrapper {
    position: relative;
    overflow-y: hidden;

    .inside-scroll {
      position: absolute;
      overflow-y: auto;
      max-height: 100%;
      cursor: default;
      &::-webkit-scrollbar {
        height: 6px;
        width: 6px;
      }
      &::-webkit-scrollbar-track {
        border-radius: 0;
        background: #f7f7f7;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 30px;
        background: #ccc;
      }
    }
  }
}
