<div class="card mt-4">
	<div class="card-body">
		<div class="text-center">
			<h4>Senha</h4>
			<h6>Defina a sua senha de acesso ao Dowing</h6>
		</div>
		<form class="theme-form" [formGroup]="newPasswordForm">
			<div class="form-group">
				<label class="col-form-label pt-0">Senha</label>
				<input class="form-control" formControlName="password" type="password" required="">

				<div class="input-error-wrapper">
					<div *ngIf="newPasswordForm.controls.password.touched && newPasswordForm.controls.password.errors?.required"
						class="text text-danger mt-1">
						Senha é um campo obrigatório
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-form-label">Confirmar Senha</label>
				<input class="form-control" type="password" formControlName="passwordConfirmation" required="">
				<div class="input-error-wrapper">
					<div *ngIf="newPasswordForm.controls.passwordConfirmation.touched && newPasswordForm.controls.passwordConfirmation.errors?.required"
						class="text text-danger mt-1">
						Senha é um campo obrigatório
					</div>
				</div>
			</div>
			<div class="form-group form-row mt-3 mb-0 mx-0">
				<button class="btn btn-primary btn-block btn-lg" [disabled]="!newPasswordForm.valid || authService.showLoader"
					(click)="newPassword()">
					<span *ngIf="!authService.showLoader">Salvar</span>
					<app-loader *ngIf="authService.showLoader" color="white" size="30px"></app-loader>
				</button>
			</div>
		</form>
		<div class="text-center">
			<a class="gray-link" href="javascript:void()" routerLink="/auth/login">Ir a tela de login</a>
		</div>
	</div>
</div>