<div class="lds-ring" [style.width]="size" [style.height]="size">
    <div [style.border-color]="color + ' transparent transparent transparent'" [style.width]="size" [style.height]="size"></div>
    <div [style.border-color]="color + ' transparent transparent transparent'" [style.width]="size" [style.height]="size"></div>
    <div [style.border-color]="color + ' transparent transparent transparent'" [style.width]="size" [style.height]="size"></div>
    <div [style.border-color]="color + ' transparent transparent transparent'" [style.width]="size" [style.height]="size"></div>
</div>